.no-focus-border:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.no-focus-border:focused.table-view {
    -fx-background-color: -fx-outer-border, -fx-inner-border, white;
}

.logo-border {
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-background-color: white;
}