#playerHolder {
    -fx-background-color: black;
    -fx-background-image: url("../images/iconWhiteWithoutBorder.png");
    -fx-background-position: center center;
    -fx-background-size: 128;
    -fx-background-repeat: stretch;
}

#warning-tooltip {
    -fx-font-size: 12;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px;
}
