#pitch-event-context-menu {
    -fx-background-image: url("../images/boiska_cale_male_2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#player-tooltip {
    -fx-font-size: 12;
}

.region-toggle-button {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-border-color: rgb(160, 160, 160);
}

.region-toggle-button:selected {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-border-color: rgb(70, 70, 70);
}

.no-focusable-menu-item:focused {
    -fx-background-color: transparent;
}